* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background: #CCFFCC;
}

.main_wrapper{
    width: 100%;
    min-height: calc(100% - 50px);
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.wrapper_footer {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    width: 100%;
    height: 16vh;
    background: #99FF99;
    border-top: 2px solid #009900;
    border-bottom: 2px solid #009900;
    border-right: 2px solid #009900;
}

#content{
}

footer {
    width: 100%;
    height: 40px;
    border-top: 2px solid #009900;
    border-bottom: 3px solid #ffd800;
    border-right: 3px solid #99FF99;
}

#left_side{
    width: 28%;
    background: #00CC00;
    border: 2px solid #009900;
}

#right_side{
    width: 72%;
}